<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table class="table table-striped">
        <thead>
        <!-- 분류 -->
        <tr>
            <th>이름</th>
            <th>아이디</th>
            <th>휴대폰</th>
            <th>이메일</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr id="contents" th:each="member status:${memberList}">
            <!-- 내용 -->
            <td>
                <p th:text="${member.name}">
            </td>
            <td>
                <p th:text="${member.id}"></p>
            </td>
            <td>
                <p th:text="${board.phone}"></p>
            </td>
            <td>
                <p th:text="${board.email}"></p>
            </td>
            <td>
                <p th:text="${board.reg_date}"></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>