<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>signUp</title>
    <!-- 기본CSS -->
    <link rel="stylesheet" type="text/css" href="css/signUp.css">
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/login.js" defer></script>
</head>

<body>
<!-- 배경 영상 -->
<div class="bg">
    <video class = "video-bg" muted autoplay loop>
        <source src="video/Bike - 72566.mp4" type="video/mp4">
    </video>
</div>
<div class = "meta">
    <!-- 가입창 전체 -->
    <div class="sogae-container">
        <div class = "album">
            <div class = "pic1">
            </div>
            <div class = "pic2">
            </div>
        </div>
        <div class = "album-2">
            <div class = "pic3">
                <video class = "phone-video" muted autoplay loop>
                    <source src="video/phone.mp4" type="video/mp4">
                </video>
            </div>
            <div class = "pic4">
            </div>
        </div>
    </div>

    <!-- 가입창 전체 -->
    <div class = "signup-meta">
        <div class="signup-container">
            <!-- 가입창 상단부 -->
            <div class="semi-container">
                <!-- 로고(제목) -->
                <div class="logo">
                    <img class = "logo-design" src="/image/pngwing.com.png">
                    <a>따스한 프로젝트</a>
                </div>
                <hr>
                <!-- 사이트 간단 소개 -->
                <div class="introduce"><a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, labore unde accusantium distinctio modi nemo sit </a></span>
                </div>
                <!-- 게노 참조 (로그인) -->
                <div class = "input-container-item">
                    <form action="login-do" method="post">
                        <p><input id="id" class="signup-text-box" type="text" name="id" placeholder="아이디" oninput="idCheck()"></p>
                        <p><input id="pw" class="signup-text-box" type="password" name="pw" placeholder="비밀번호" oninput="pwCheck()"></p>
                        <p th:if="${loginFailed}" th:text="${loginFailed}"></p>
                        <p><button class="signup-button" type="submit">Let's travel</button></p>
                    </form>
                </div>
            </div>
        </div>
        <div class = "signup-footer">
            <div class="footer-container">
                <span class = "eimi">You have no ID?</span>
                <button class = "gologin" onclick="location.href='/'">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>