
<!--게시판 쓴 글 리스트로 보기-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ｂｏａｒｄｓ</title>
    <link rel="stylesheet" href="css/boards/index.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="fragments.js"></script>
</head>

<body>
<!-- 게시판 제목 -->
<div class="board-title">
    <!-- 로고 -->
    <div class="top-nav-logo"></div>
    <!-- 로고Text -->
    <div>WP게시판</div>
</div>
<!-- 배너 -->
<div class="banner"></div>
<!-- 페이지 내 타이틀 -->
<div class="title">
    <h1>게시판</h1>
</div>

<!-- 테이블 -->
<div class="table-wrapper">
        <div class="test-wrap">
            <div class="test-num">No.</div>
            <div class="title-wrap">제목</div>
            <div class="writer">글쓴이</div>
            <div class="view-count">조회수</div>
            <div class="date">등록일</div>
        </div>
    <div class = "test-wrap" th:each="board, status: ${boardList}">
        <div class = "test-num" th:text="${board.id}"></div>

        <div class="title-wrap" th:onclick="|location.href='@{/boards/{id}(id=${board.id})}'|">
            <p class="table-bg" th:text="${board.title}"></p>
        </div>

        <div class = "writer" th:text="${board.writer}"></div>
        <div class = "view-count"th:text="${board.view_count}"></div>
        <div class = "date" th:text="${board.reg_date}"></div>
    </div>
</div>

<!-- 이전 -->
<div class="forward-back">
    <a class="move-button" th:href="@{?page={num}(num=${previous})}" role="botton">◀</a>
    <!-- 다음 -->
    <a class="move-button" th:href="@{?page={num}(num=${next})}" role="button">▶</a>
</div>

<!-- 목록 -->
<div class="correction-wrap">
    <button class="correction" type="button" onclick = "location.href='/boards'">게시판목록</button>
        <!-- 새글 -->
    <button class="correction" type="button" onclick = "location.href='/boards/new'">새글쓰기</button>
</div>

<div id = "footer"></div>
</body>

</html>