

<!--검색리스트-->

<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<h1>게시판</h1>

<!--검색창-->
<form action="/boards/search" method="GET" role="search">
    <input type="text" name="keyword" class="form-control" id="search" placeholder="제목으로 검색">
    <button>검색</button>
</form>


<table>
    <thread>
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>내용</td>
            <td>글쓴이</td>
            <td>조회수</td>
            <td>등록일</td>
        </tr>
    </thread>
    <tbody>
    <tr th:each="board, status: ${searchList}">
        <td th:text="${board.id}"></td>
        <td><a th:href="@{/boards/{id}(id=${board.id})}"><p th:text="${board.title}"></p></a>
        <td th:text="${board.content}"></td>
        <td th:text="${board.writer}"></td>
        <td th:text="${board.view_count}"></td>
        <td th:text="${board.reg_date}" ></td>
    </tr>
    </tbody>
</table>


<div>
    <a th:href="@{/boards/search?keyword={keyword}&page={previous}(keyword=${keyword}, previous=${previous})}" role="botton">이전</a>
    <a th:href="@{/boards/search?keyword={keyword}&page={next}(keyword=${keyword}, next=${next})}" role="button">다음</a>
</div>


<!--목록으로 돌아가는 버튼-->
<a href="/boards" >게시판목록</a>

<!--새글쓰기-->
<a href="/boards/new" >새글쓰기</a>


</body>
</html>