<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>업체 등록</title>
    <title>Create Facility</title>
    <link rel="stylesheet" href="/css/boards/index.css">
    <link rel="stylesheet" href="/css/boards/new.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
<div id = "wrap">
    <header>
        <!-- 게시판 제목 -->
        <div class="board-title">
            <!-- 로고 -->
            <div class="top-nav-logo" th:onclick="|location.href='@{/main}'|" style="cursor:pointer"></div>
            <!-- 로고Text -->
            <div th:onclick="|location.href='@{/boards}'|" style="cursor:pointer">업체 등록</div>
        </div>
        <!-- 배너 -->
        <div class="banner"></div>
        <!-- 페이지 내 타이틀 -->
        <div class="title">
            <h1>새 업체 등록</h1>
        </div>
    </header>


    <section>
        <div class="container" role="main">
            <form class="container" action="/facility/create" method="post">
                <div class="mb-3">
                    <label>업체명</label>
                    <input type="text" name="name" class="form-control" >
                </div>

                <div class="mb-3">
                    <label>전화번호</label>
                    <input type="text" name="tel" class="form-control" >
                </div>

                <div class="mb-3">
                    <label>주소</label>
                    <input type="text" name="address" class="form-control" >
                </div>

                <div class="mb-3">
                    <label>운영시간</label>
                    <input type="text" name="operatingTime" class="form-control" >
                </div>

                <div class="mb-3">
                    <label>사진</label>
                    <input type="text" name="photo" class="form-control" >
                </div>

                <div class="mb-3">
                    <label>카테고리</label>
                        <div>
                            <input type="radio" name="category"  value="볼링장" />
                                <label>볼링장</label>
                            <input type="radio" name="category"  value="탁구장" />
                                <label>탁구장</label>
                            <input type="radio" name="category"  value="테니스장" />
                                <label>테니스장</label>
                            <input type="radio" name="category"  value="배드민턴장" />
                                <label>볼링장</label>
                            <input type="radio" name="category"  value="클라이밍" />
                                <label>클라이밍</label>
                            <input type="radio" name="category"  value="수영장" />
                                <label>수영장</label>
                            <input type="radio" name="category"  value="스케이트" />
                                <label>스케이트</label>
                            <input type="radio" name="category"  value="농구" />
                                <label>농구</label>
                            <input type="radio" name="category"  value="풋살" />
                                <label>풋살</label>
                        </div>
                    </div>

                  <button type="submit" class="btn btn-primary">등록</button>


<!--                <a href="/main">메인으로 돌아가기</a>-->
                </div>
            </form>

    </section>
</body>
</html>