<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>시설 상세정보</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/facility/show.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!--네이버 지도-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ubpb5l4ylr"></script>

    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=ubpb5l4ylr&submodules=geocoder"></script>
</head>

<body>
<div id="wrap">
    <header>
        <div class="nav-container">
            <!-- 로고디자인 -->
            <div class="nav-child">
                <div class="top-nav-logo" th:onclick="|location.href='@{/main}'|" style="cursor:pointer"></div>
                <div class="quotes"></div>
            </div>
            <!-- 검색바 -->
            <div class="nav-child">
                <div class="search">
                    <input type="text" placeholder="검색어입력">
                    <button class='search-btn'></button>
                </div>
            </div>
            <!-- 상단 네비바 기능 버튼 -->
            <div class="nav-child">
                <div class="profile-button">
                    <button class="nav-btn" type="button" onclick="location.href='boards'"><img
                            src="/image/main_icon/boards.png" height="30" width="35"></button>
                </div>
                <div class="profile-button">
                    <button class="nav-btn btn2" type="button" onclick="location.href='/profile'">
                        <img src="/image/main_icon/profile.png" height="35" width="35">
                    </button>
                </div>
                <div class="profile-button">
                    <button class="nav-btn btn3" type="button" onclick="location.href='/logout'"><img
                            src="/image/main_icon/log-out.png" height="35" width="35"></button>
                </div>
                <div class="profile-button">
                    <button class="nav-btn btn3" type="button" onclick="location.href='/members/memberList'" th:if="${#strings.equals(session.member.getAuth(),'ADMIN')}"><img
                            src="/image/main_icon/members.png" height="35" width="35"></button>
                </div>
                <div class="profile-button">
                    <button class="nav-btn btn3" type="button" onclick="location.href='/facility/new'" th:if="${#strings.equals(session.member.getAuth(),'ADMIN')}"><img
                            src="/image/main_icon/company.png" height="35" width="35"></button>
                </div>
            </div>
        </div>
    </header>
    <section>
<p class = "title">시설 상세 정보</p>

<div class = "card-container">
    <div class="card" style="width: 30rem;">
        <!--    지도-->
        <div id="map" style="width:100%;height:250px;"></div>

        <div class="card-body">
            <p class="card-title" style="font-weight: bold;" th:text="${facility.name}"></p><hr>
            <div class = "tag-container">
                <div class="bi bi-tag tag-elements" th:text="${facility.category}">카테고리</div><br>
                <div class="bi bi-map tag-elements" id="address" th:value="${facility.address}"
                   th:text="${facility.address}">주소</div><br>
                <div class="bi bi-telephone tag-elements" style="font-size: 1rem;" th:text="${facility.tel}">전화번호</div><br>
                <div class="bi bi-clock tag-elements" th:text="${facility.operatingTime}">운영시간</div><br>
                <div class="bi bi-star tag-elements" th:text="${facility.starRate}">별점</div>
            </div>


            <div>
                <button id="btn_toggle">사진보기</button>
                <div id="Toggle" style="display:none">
                    <img th:src="${facility.photo}" class="card-img-top" alt="...">
                </div>

                <form th:action="@{/cart/{member_id}/{facility_id} (member_id=${session.member.getId()},facility_id=${facility.id})}"
                      method="post">
                    <div class="d-flex" th:unless="${session.bookedItem}">
                        <input type="hidden" id="count" name="count" value="1" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            찜하기
                        </button>
                    </div>
                </form>
                <form th:action="@{/cart/{member_id}/{facility_id}/cancel (member_id=${session.member.getId()},facility_id=${facility.id})}"
                      method="post">
                    <div class="d-flex" th:if="${session.bookedItem}">
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            찜 취소
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!--삭제버튼-->
        <button class="btn btn-sm btn-outline-primary" th:if="${#strings.equals(session.member.getAuth(),'ADMIN')}"
                th:onclick="|location.href='@{/facility/{id}/edit(id=${facility.id})}'|">수정</button>
        <button class="btn btn-sm btn-outline-danger" th:if="${#strings.equals(session.member.getAuth(),'ADMIN')}"
                th:onclick="|location.href='@{/facility/{id}/delete(id=${facility.id})}'|">삭제</button>

        <!--목록으로 돌아가는 버튼-->
<!--        <a href="/main">메인</a>-->
<!--        <a href="/main" >뒤로가기</a>-->
    </div>
</div>

    </section>
    <footer>
        <!-- footer-->
        <div class="footer-container">
            <div class="footer-bar">
                    <span class="footer-bar-text">
                        <a>
                            고객지원실 운영안내
                            연중무휴 09:00-18:00 (점심시간 12:00-13:00)
                            주말/공휴일 포함, 한국시간 기준
                            ※ 환불/변경은 평일 09:00-17:00 접수 가능
                        </a>
                    </span>

                <span class="footer-bar-text">
                        <a>상호명 (주)따스한 프로젝트 | 대표 정가영 | 개인정보보호책임자 박현호</a>
                    </span>
                <span class="footer-bar-text">
                        <a>주소 대구광역시 동구 화랑로 525 (영진직업전문학교) | 이메일 hio201140@gamil.com | 마케팅/제휴 문의 hio201140@gamil.com</a>
                    </span>
                <span class="footer-bar-text">
                        <a>Copyright(2022).ⓒ.merlin All rights reserved.</a>
                    </span>
            </div>
        </div>
    </footer>
</div>
<script>
            var mapOptions = {
                center: new naver.maps.LatLng(37.3595704, 127.105399),
                zoom: 15
            };

            var map = new naver.maps.Map('map', {
                center: new naver.maps.LatLng(37.3595704, 127.105399),
                zoom: 15
            });

            var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng(37.3595704, 127.105399),
                map: map
            });

            var address = document.querySelector("#address").innerText;



            naver.maps.Service.geocode({ address: address }, function (status, response) {
                if (status === naver.maps.Service.Status.ERROR) {
                    return alert('Something wrong!');
                }
                var new_position = new naver.maps.LatLng(response.v2.addresses[0].y, response.v2.addresses[0].x)
                console.log(response.v2.addresses);
                map.setCenter(new_position);

                var marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(response.v2.addresses[0].y, response.v2.addresses[0].x),
                    map: map
                });
            });



        </script>
<script src="/js/facility/show.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>