<link rel="stylesheet" href="css/footer.css">

<!-- footer-->
<div class= "footer-container">
    <div class = "footer-bar">

        <sapn class= "footer-bar-text">고객지원실 운영안내
            <a>
                연중무휴 09:00-18:00 (점심시간 12:00-13:00)
                주말/공휴일 포함, 한국시간 기준
                ※ 환불/변경은 평일 09:00-17:00 접수 가능
            </a>
        </sapn>

        <sapn class= "footer-bar-text">
            상호명<a>(주)따스한 프로젝트 | 대표 정가영 | 개인정보보호책임자 박현호
        </a>
        </sapn>

        <sapn class= "footer-bar-text">주소<a>대구광역시 동구 화랑로 525 (영진직업전문학교) | 이메일 hio201140@gamil.com | 마케팅/제휴 문의 hio201140@gamil.com</a></sapn>

        <sapn class= "footer-bar-text"><a>Copyright(2022).ⓒ.merlin All rights reserved.</a>
        </sapn>

    </div>
</div>