@import '/css/reset.css';

@font-face {
    font-family: 'GmarketSansTTFLight'; src: url('/ttf/GmarketSansTTFLight.ttf') format('truetype');
}
@font-face {
    font-family: 'GmarketSansTTFBold'; src: url('/ttf/GmarketSansTTFBold.ttf') format('truetype');
}

/* 페이지 폰트 */
body{
    line-height:1.5em;
    font-family: GmarketSansTTFLight;
}

#footer{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 70px;
}

.banner{
}

.board-title{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    background-color: #0066ff;
    font-family: GmarketSansTTFBold;
    font-size: 2rem;
}

.top-nav-logo {
    left: 0;
    position: fixed;
    width: 60px;
    min-width: 60px;
    height: 60px;
    background-image: url("/image/vsc-white.png");
    background-size: cover;
    margin-left: 60px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: GmarketSansTTFBold;
    font-size: 2rem;
    margin: 50px;
    margin-top: 120px;
}





.table-wrapper{
    left: 50%;
    width: 80%;
    min-width: 1000px;
    height: 50
    display: flex;
    justify-content: center;
    flex-direction:column;
    position: relative;
    transform: translateX(-50%);
}

.test-num{
    display: flex;
    justify-content: center;
    width: 10%;
}
.test-wrap{
    display:flex;
    justify-content: center;
    margin-top: 1px;
    height: 40px;
}


.title-wrap{
    display:flex;
    width:35%;
    background-color: #0066ff;
    justify-content: center;
    align-items: center;
}

.title-wrap:hover{
    cursor: pointer;
}

.table-bg{
    color:#fff;
    text-decoration: none;
    text-decoration-line : none;
}

.contents{
    display:flex;
    justify-content: center;
    width:15%;
}

.writer{
    display:flex;
    justify-content: center;
    width:15%
}

.view-count{
    display:flex;
    justify-content: center;
    width:15%
}

.date{
    display:flex;
    justify-content: center;
    width:15%
}

.forward-back{
    height: 70px;
    margin-top: 50px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-button{
    text-decoration-line : none;
    transition-duration: 0.3s;
    margin: 15px;
}

.move-button:link {
 color: black; text-decoration: none;
}
.move-button:visited {
 color: black; text-decoration: none;
}
.move-button:hover{
    color: #0066ff
}

.correction-wrap{
    display: flex;
    width: 85%;
    justify-content: right;
    font-size: 1.2rem;
}

.correction {
    margin: 2px;
	background-color: #0066ff;
	border: 2px solid #0066ff;
	color: #fff;
	line-height: 30px;
    transition-duration: 0.3s;
}
.correction:hover {
	background-color: #fff;
	color: #0066ff;
}