@import '/css/reset.css';

@font-face {
    font-family: 'GmarketSansTTFLight'; src: url('/ttf/GmarketSansTTFLight.ttf') format('truetype');
}
@font-face {
    font-family: 'GmarketSansTTFBold'; src: url('/ttf/GmarketSansTTFBold.ttf') format('truetype');
}

.show-content-container{
    display:flex;
    justify-content:center;
    width:100vw;
}

.show-content{
    background-color:#F2F2F2;
    width: 70%;
    height: 60vh;
    min-width: 660px;
    padding: 5px;
}

#comments-new{
    width: 100%;
    margin: 0rem!important;
}

.show-button-container{
    display:flex;
    width: 100vw;
    justify-content: center;
}

.button-box{
    display:flex;
    width:70%;
    justify-content:right;
    margin-top: 5px;
    margin-bottom: 5px;
}

.correction{
    margin-left:5px;
}

body{
    line-height: 20px;
}

