<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>회원 정보 수정</p>
<form th:action="@{profile/edit/{id}(id=${session.id})}" method="post">
    <p><input type="password"></p>
    <p><input type="password"></p>
    <p><input th:value="${session.name}"></p>
    <p><input th:value="${session.phone}"></p>
    <p><input th:value="${session.email}"></p>
    <p><input th:value="${session.birthday}"></p>
    <p><input th:value="${session.address}"></p>
    <button type="submit">수정하기</button>
</form>
</body>
</html>