<link rel="stylesheet" href="css/header.css">
<!-- 상단 네비게이션 -->
<div class= "nav-container">
    <div class = "top-nav">
        <!-- 로고디자인 -->
        <div class= "top-nav-logo"></div>
        <div class="search">
            <input type="text" placeholder="검색어입력">
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
        </div>
    </div>
    <div class= "profile-button">
        <span class = "top-nav-button-span">프로필</span>
    </div>
    <div class= "profile-button">
        <button type="button" onclick="location.href='logout'">로그아웃</button>
    </div>
</div>