@import '/css/reset.css';

.footer-container{
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    color: white;
  }

  a{
    margin: 5px;
    font-size: 0.7rem;
  }

  .footer-bar{
    display: flex;
    flex-direction: column;
  }

  .footer-bar-text{
    font-size: 1rem;
  }