@import '/css/reset.css';

@font-face {
    font-family: 'GmarketSansTTFLight'; src: url('/ttf/GmarketSansTTFLight.ttf') format('truetype');
}
@font-face {
    font-family: 'GmarketSansTTFBold'; src: url('/ttf/GmarketSansTTFBold.ttf') format('truetype');
}


body {
    font-family: GmarketSansTTFLight;
}

::-webkit-scrollbar{
    display: none;
}

input::placeholder{
    padding-left: 15px;
}

/* 배경 영상 */
.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(12, 156, 167),rgb(219, 201, 174));
    z-index: -999;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

/* 소개영상+가입창 */
.meta{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 소개영상 */
.sogae-container{
    display: flex;
    min-width:450px;
    height: 750px;
    border-radius: 5px;
    margin: 30px;
}

.album{
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
    height: 500px;
}
.pic1{
    width: 260px;
    height: 571px;
    margin-left: 15px;
    position: absolute;
    background-size: cover;
    background-image: url('/image/pic2.jpg');
    border-radius: 30px;
}
.pic2{
    width: 287px;
    height: 571px;
    position: relative;
    background-size: cover;
    background-image: url('/image/phone.png');
}

.album-2{
    margin-top: 130px;
    margin-left: -200px;
    width: 300px;
    height: 500px;
}
.pic3{
    width: 260px;
    height: 571px;
    margin-left: 15px;
    position: absolute;
    background-size: cover;
    border-radius: 30px;
}
.phone-video{
    border-radius: 20px;
}
.pic4{
    width: 285px;
    height: 571px;
    position: relative;
    background-size: cover;
    background-image: url('/image/phone.png');
}

/* 가입창(회원가입) */
.signup-container{
    display: flex;
    width:450px;
    height: 620px;
    background-color: rgba(255, 255, 255);
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 5px;
    transition-duration: 0.5;
    margin: 30px;
}

.semi-container{
    display: inline-block;
    margin: 60px;
}
.logo-design{
    width: 50px;
    height: 50px;
}

.logo{
    font-family: GmarketSansTTFBold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    margin-top: 10px;
}

.introduce{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.input-container{
    position: relative;
    width: 100%;
    height: 500px;
}

.signup-text-box-id{
    background-color: rgb(240, 240, 240);
    justify-content: center;
    width: 250px;
    height: 35px;
    margin: 5px;
    border: 0px;
    padding: 0px;
    border-radius: 3px;
}

.alert{
    color: red;
    font-size: 0.7rem;
}

.idck{
    position: absolute;
    background-color: rgb(240, 240, 240);
    cursor:pointer;
    justify-content: center;
    width: 70px;
    height: 35px;
    margin: 5px;
    border: 0px;
    padding: 0px;
    border-radius: 3px;
    font-size: 0.7rem;
    transition-duration: 0.2s;
}

.idck:hover{
    color: #ffffff;
    background-color: #1a59ab;
}


.signup-text-box{
    background-color: rgb(240, 240, 240);
    justify-content: center;
    width: 100%;
    height: 35px;
    margin: 5px;
    border: 0px;
    padding: 0px;
    border-radius: 3px;
}

.input-container{
    display: flex;
    margin-top: auto;
}

.signup-button{
    font-size: larger;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 35px;
    margin: 5px;
    border: 0;
    padding: 0;
}

.signup-button{
    background:#1a59ab;
    color:#fff;
    position:relative;
    height: 35px;
    font-size:1.2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    display:none;
}

.signup-button:hover{
    background:#fff;
    color:#1a59ab;
}
.signup-button:before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1a59ab ;
    transition:400ms ease all;
}
.signup-button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1a59ab ;
    transition:400ms ease all;
}


.signup-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.signup-button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}

/* 가입창(로그인) */
.signup-footer{
    display: flex;
    width:450px;
    height: 100px;
    background-color: rgba(255, 255, 255);
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    margin: 30px;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.gologin{
    background:#1a59ab;
    color:#fff;
    width: 100%;
    height: 25px;
    padding:0 2em;
    cursor:pointer;
    outline:none;
    border: 0;
    padding: 0;
}

.gologin:hover{
    background-color: #134991;
}

#footer{
    position: absolute;
    width: 100%;
    height: 70px;
}

.id_success{
    color : green;
    display: none;
}

.id_failed{
    color : red;
    display: none;
}

.id_length{
    color : red;
    display: none;
}

.password_check_ok{
    color : green;
    display:none;
}

.password_check_no{
    color : red;
    display:none;
}

.login-button{
    font-size: larger;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 35px;
    margin: 5px;
    border: 0;
    padding: 0;
}

.login-button{
    background:#1a59ab;
    color:#fff;
    position:relative;
    height: 35px;
    font-size:1.2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}

.login-button:hover{
    background:#fff;
    color:#1a59ab;
}
.login-button:before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1a59ab ;
    transition:400ms ease all;
}
.login-button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1a59ab ;
    transition:400ms ease all;
}


.login-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.login-button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}