<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ｔｉｔｌｅ</title>
    <link rel="stylesheet" href="css/mainstyle.css">
</head>

<body>
<!-- header -->
<div>
    <iframe id="header" src="header"></iframe>
</div>

<div class="screen-container">
    <div class="screen">1234</div>
</div>
<!-- 종목 -->
<div class="sports-class">
    <div class="sports-name" href="#">수영</div>
    <div class="sports-name" href="#">볼링</div>
    <div class="sports-name" href="#">탁구</div>
    <div class="sports-name" href="#">테니스</div>
    <div class="sports-name" href="#">자전거</div>
    <div class="sports-name" href="#">축구</div>
    <div class="sports-name" href="#">농구</div>
    <div class="sports-name" href="#">스케이트</div>
    <div class="sports-name" href="#">스케이트</div>
    <div class="sports-name" href="#">스케이트</div>
    <div class="sports-name" href="#">스케이트</div>
    <div class="sports-name" href="#">스케이트</div>
    <div class="sports-name" href="#">스케이트</div>
    <div class="sports-name" href="#">스케이트</div>
    <div class="sports-name" href="#">스케이트</div>
</div>

<!-- footer -->
<iframe id="footer" src="footer"></iframe>

<script src="/js/app.js"></script>
</body>

</html>