<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ｔｉｔｌｅ</title>
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
<div id="wrap">
    <!-- header -->
    <header>
        <div class="nav-container">
            <!-- 로고디자인 -->
            <div class="nav-child">
                <div class="top-nav-logo" th:onclick="|location.href='@{/main}'|" style="cursor:pointer"></div>
                <div class="quotes"></div>
            </div>
            <!-- 검색바 -->
            <div class="nav-child">
                <div class="search">
                    <input type="text" placeholder="검색어입력">
                    <button class='search-btn'></button>
                </div>
            </div>
            <!-- 상단 네비바 기능 버튼 -->
            <div class="nav-child">
                <div class="profile-button">
                    <button class="nav-btn" type="button" onclick="location.href='boards'"><img
                            src="/image/main_icon/boards.png" height="30" width="35"></button>
                </div>
                <div class="profile-button">
                    <button class="nav-btn btn2" type="button" onclick="location.href='profile'">
                        <img src="/image/main_icon/profile.png" height="35" width="35">
                    </button>
                </div>
                <div class="profile-button">
                    <button class="nav-btn btn3" type="button" onclick="location.href='logout'"><img
                            src="/image/main_icon/log-out.png" height="35" width="35"></button>
                </div>
            </div>
        </div>
        <!-- 배너 -->
        <div class="screen-container">
            <div class="screen"></div>
            <div class="screen-banner">
                <p id='typing'>"The </p>
                <p class="typing-bar"></p>
            </div>
        </div>
    </header>

    <section>
        <div class= "section-container">
            <form>
                <div class=sports-wrap>
                    <div class="picture-container" th:onclick="|location.href='@{/domain/볼링장}'|" style=cursor:pointer>
                        <img class="fit-picture" src="image/sports/볼링.png" alt-="logo">
                        <div class="fit-text">
                            <p>Bowling</p>
                        </div>
                    </div>
                    <div class="picture-container" th:onclick="|location.href='@{/domain/테니스장}'|" style=cursor:pointer>
                        <img class="fit-picture" src="image/sports/테니스.jpg" alt-="logo">
                        <div class="fit-text">
                            <p>Tennis</p>
                        </div>
                    </div>
                    <div class="picture-container" th:onclick="|location.href='@{/domain/풋살}'|" style=cursor:pointer>
                        <img class="fit-picture" src="image/sports/풋살.jpg" alt-="logo">
                        <div class="fit-text">
                            <p>Fotsal</p>
                        </div>
                    </div>
                    <div class="picture-container" th:onclick="|location.href='@{/domain/탁구장}'|" style=cursor:pointer>
                        <img class="fit-picture" src="image/sports/탁구.jpg" alt-="logo">
                        <div class="fit-text">
                            <p>Ping-pong</p>
                        </div>
                    </div>
                    <div class="picture-container" th:onclick="|location.href='@{/domain/농구}'|" style=cursor:pointer>
                        <img class="fit-picture" src="image/sports/농구.jpg" alt-="logo">
                        <div class="fit-text">
                            <p>Basketball</p>
                        </div>
                    </div>
                    <div class="picture-container" th:onclick="|location.href='@{/domain/클라이밍}'|" style=cursor:pointer>
                        <img class="fit-picture" src="image/sports/클라이밍.jpg" alt-="logo">
                        <div class="fit-text">
                            <p>Climbing</p>
                        </div>
                    </div>
                    <div class="picture-container" th:onclick="|location.href='@{/domain/수영}'|" style=cursor:pointer>
                        <img class="fit-picture" src="image/sports/수영.jpg" alt-="logo">
                        <div class="fit-text">
                            <p>Swimming</p>
                        </div>
                    </div>
                    <div class="picture-container" th:onclick="|location.href='@{/domain/스케이트}'|" style=cursor:pointer>
                        <img class="fit-picture" src="image/sports/스케이트.jpg" alt-="logo">
                        <div class="fit-text">
                            <p>Skate</p>
                        </div>
                    </div>
                    <div class="picture-container" href="#" style=cursor:pointer>
                        <img class="fit-picture" src="/icon/more.jpg" alt-="logo">
                        <div class="fit-text">
                            <p>View more</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <footer>
        <!-- footer-->
        <div class="footer-container">
            <div class="footer-bar">
                    <span class="footer-bar-text">
                        <a>
                            고객지원실 운영안내
                            연중무휴 09:00-18:00 (점심시간 12:00-13:00)
                            주말/공휴일 포함, 한국시간 기준
                            ※ 환불/변경은 평일 09:00-17:00 접수 가능
                        </a>
                    </span>

                <span class="footer-bar-text">
                        <a>상호명 (주)따스한 프로젝트 | 대표 정가영 | 개인정보보호책임자 박현호</a>
                    </span>
                <span class="footer-bar-text">
                        <a>주소 대구광역시 동구 화랑로 525 (영진직업전문학교) | 이메일 hio201140@gamil.com | 마케팅/제휴 문의 hio201140@gamil.com</a>
                    </span>
                <span class="footer-bar-text">
                        <a>Copyright(2022).ⓒ.merlin All rights reserved.</a>
                    </span>
            </div>
        </div>
    </footer>
</div>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src="/js/styleJS/main.js"></script>
</body>

</html>